@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeue.otf") format("opentype");
}

.title-employer {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #0e9bd6;
  width: 100%;
}

.container-employer {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
}

.line-color {
  height: 1px;
  background-color: #48c4ed;
  width: 100%;
  margin-top: 15px;
}

.title-content {
  display: flex;
  height: 27px;
}

.info-job {
  font-size: 22px;
  font-family: HelveticaNeue;
  font-weight: 500;
  line-height: 0.95;
  color: #101010;
}

.title-infor {
  height: 34px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: right;
  color: #101010;
}

.input-text {
  width: 100%;
  height: 34px;
  opacity: 0.8;
  border: solid 1px #acacac;
  border: #acacac;
}

.row-line {
  margin-top: 38px;
}

.custom-padding-left {
  padding-left: 0px;
}

.custom-padding-right {
  padding-right: 0px;
}

@media (max-width: 993px) {
  .padding-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .padding-top-e {
    padding-top: 38px;
  }
  .title-infor {
    text-align: left;
  }
  .title-upfile {
    height: 60px;
  }
  .line-color {
    width: 40%;
  }
  .title-content {
    height: 56px;
  }
  .block-e-2 {
    margin-top: 20px;
  }
  .select-option-2 {
    float: none !important;
    width: 100% !important;
  }
  .u-btn-list-job {
    margin-top: 0px !important;
    margin-bottom: 20px
  }
}

.select-option {
  width: 100%;
  height: 34px;
  opacity: 0.8;
  background-color: #ffffff;
  border: solid 1px #acacac;
}

.input-text-area-1 {
  width: 100%;
  height: 200px;
  opacity: 0.8;
  border: solid 1px #acacac;
}

.tag-hr {
  opacity: 0.2;
  background-color: #000000;
  height: 1px;
  margin-top: 20px;
}

.note-infor {
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.62;
  color: #ff2222;
  margin-top: 0px;
  padding-right: 9px;
}

.btn-submit-em {
  width: 361px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #0e9bd6;
  font-weight: 600;
  border: none;
}

.form-btn-e {
  margin: 38px 0 0px 0;
}

@media (max-width: 500px) {
  .btn-submit-em {
    width: 100%;
  }
  .line-color {
    width: 0;
  }
  .container-employer {
    width: 100%;
  }
}

.employer-home {
  margin-top: 20px;
  width: 75%;
  margin-bottom: 20px;
}

.alert-employer {
  font-family: HelveticaNeue;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #0e9bd6;
}

.alert-employer h4 {
  font-family: HelveticaNeue;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background: #0e9bd6;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
}

.alert-employer ul {
  font-family: HelveticaNeue;
  margin: 0;
  padding: 20px 20px;
  list-style: none;
  overflow: hidden;
}

.alert-employer ul li {
  font-family: HelveticaNeue;
  line-height: 27px;
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

.alert-employer ul li span {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #ff0000;
}

.btn-e-home {
  height: 40px;
  margin-top: 23px;
  border-radius: 10px;
  background-color: #fe8740;
  width: 80%;
  font-weight: 600;
  text-align: center;
  border: none;
}

.dot-e {
  margin-right: 20px;
  font-size: 10px;
  text-align: center;
  color: #0e9bd6;
}

.select-option-2 {
  float: left;
  width: 50%;
}

.info-job span {
  font-size: 26px;
  font-family: HelveticaNeue;
  font-weight: 500;
  color: #fe8740;
}

.info-job span:last-child {
  font-size: 26px;
  font-family: HelveticaNeue;
  font-weight: 500;
  line-height: 39px;
  color: #0e9bd6;
}

.title-job-search h3 {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #0e9bd6;
}

.font-text-search h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin: 0;
}

.font-text-search h3 i {
  width: 12px;
  margin-right: 8px;
  text-align: center;
  /* line-height: 32px; */
}

.font-text-search h3 span {
  font-size: 18px;
  font-weight: 500;
  line-height: 15px;
  color: #0e9bd6;
}

.job-list-search {
  border-bottom: dashed 2px #48c4ed;
  padding-bottom: 24px;
}

.profile-summary h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-summary h3 span {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #0e9bd6;
}

.profile-summary a button {
  font-family: HelveticaNeue !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin-top: 10px;
  color: #ffffff;
}

.profile-summary a button i {
  margin-right: 6px;
}

.line-profile {
  border: 1px dashed #48c4ed;
  margin: 30px 0 30px 0;
}

.title-profile {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #666666;
}

.profile-detail div div span {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
}

.profile-detail div {
  margin-bottom: 10px;
}

.profile-detail div div span b {
  color: #555555;
}

.clear-fix {
  clear: both;
}

@media (max-width: 767px) {
  .profile-summary {
    text-align: center;
  }
  .img-profile {
    width: 50%;
    margin: 0 auto;
  }
  .text-center-pro {
    text-align: left !important;
  }
  .icon-delete-pro {
    color: #d17f7f;
  }
  .float-icon-delete {
    float: left;
  }
  .font-text-search h3 i {
    line-height: 32px;
  }
  .icon-delete-pro {
    color: #d8d8d8;
    margin-top: -6px;
  }
  .mn-text-form {
    text-align: left !important;
  }
  .button-u-r-1 {
    margin-top: 10px
  }
  .u-margin-bottom-1 {
    margin-bottom: 0px;
  }
  .inf-user-r-1 {
    margin-top: 20px;
  }
}

.margin-center-pro {
  display: block;
  margin: 0 auto;
}

.text-center-pro {
  text-align: center;
}

.icon-delete-pro {
  color: #d8d8d8;
}

.post-ps-item-title h3 {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #0e9bd6;
}

.post-ps-item-title button {
  margin-top: 10px;
  font-family: HelveticaNeue !important;
  height: 33px !important;
  font-size: 14px !important;
  line-height: 0px !important;
}

.border-ps-table {
  border-bottom: 1px solid #ddd;
}

.border-ps-table td {
  /* text-align: center; */
}

.ps-count {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  color: #fe8740;
  text-align: center;
}

.text-tb-ps {
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #101010;
  text-align: center;
}

.border-ps-table td {
  padding: 20px 0 20px 0 !important;
}

.sort-ps {
  padding: 15px 0px 15px 0px;
}

.margin-bottom-s {
  margin-bottom: 10px;
}

.title-mn-user {
  background-color: #0e9bd6;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
  height: 46px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
  padding-top: 9px;
  padding-left: 15px;
  margin: 0;
}

.mn-info-user {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.mn-info-user div h3 {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #101010;
}

.container-mn-user {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 0 rgba(0, 1, 1, 0.2);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.form-group div div span {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #101010;
}

.mn-text-form {
  text-align: right;
}

.mn-user-margin-top {
  margin-top: 20px;
}

.btn-mn-user {
  margin-top: 20px;
}

.mn-pass-user-container {
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.mn-title-pass {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #101010;
}

.padding-mn-pass-container {
  padding-bottom: 20px;
}

.u-detail-r-1 {
  padding: 20px 5px 20px 5px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 3px 5px 0 rgba(0, 1, 1, 0.1);
}

.inf-user-r-1 h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #555555;
  margin: 0;
}

.inf-user-r-1 h3:first-child {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #0e9bd6;
  margin-bottom: 10px;
}

.avata-user-detail-r-1 {
  width: 100%;
  height: auto;
}

.inf-user-r-1 h3 i {
  width: 20px;
  text-align: center;
}

.u-detail-inf-1 {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 33px;
  text-align: left;
  color: #666666;
  margin: 0;
  height: 50px;
  border-bottom: dashed 1px #48c4ed;
  margin: 0 0 20px 0;
}

.u-detail-inf-2 div h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.u-detail-inf-2 div h3 b {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  margin: 0;
}

.u-skill {
  background-color: #f2f2f2;
  height: 14px;
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  margin: 5px 5px 5px 5px;
  color: #666666;
  padding: 5px;
}

.u-inf-language-1 div h3 {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #666666;
  margin: 0;
  text-align: center;
}

.u-inf-language-2 div h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  /* text-align: left; */
  margin: 0;
  text-align: center;
  color: #666666;
}

.u-inf-6 h3 {
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
}

.u-inf-6 h3:first-child {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.u-inf-6 h3:last-child {
  color: #0e9bd6;
}

.u-inf-6 h3:last-child span {
  color: #fe8740;
}

.u-inf-6 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a7a7a7;
}

.u-inf-7 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a7a7a7;
}

.u-inf-7 div div h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.u-inf-7 div:first-child div:first-child h3 {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #666666;
}

.u-inf-8 {
  margin-bottom: 5px;
}

.u-inf-8 h3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.u-inf-8 h3:first-child {
  font-weight: 600;
  color: #666666;
}

.icon-u-float {
  float: right;
}

.u-detail-r-2 {
  padding: 20px 20px 20px 20px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 3px 5px 0 rgba(0, 1, 1, 0.1);
}

.u-row-1 h3:first-child {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #666666;
}

.u-row-1 h3:last-child {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 27px;
}

.u-row-1 h3:last-child span {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 27px;
  color: #09a94d;
}

.u-row-2 h3:first-child {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #666666;
}

.u-row-2 .text-u-3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
}

.btn-u-detail {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #fe8740;
  font-weight: 600;
  border: none;
  margin-top: 20px;
}

.count-job {
  border: 2px solid #fe8740;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 37px;
  font-size: 25px;
  color: #fe8740;
}

.u-row-3 h3:first-child {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #666666;
}

.u-row-3 .text-u-r-3 {
  font-family: HelveticaNeue;
  font-size: 16px;
  width: 70%;
  line-height: 24px;
  margin: 0;
}

.button-u-r-1 {
  padding: 0 8px !important;
}

.u-status {
  margin-top: 10px
}

.u-margin-bottom-1 {
  margin-bottom: 20px;
}

.u-margin-bottom-2 {
  margin-bottom: 20px;
}

.job-applied {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.title-job-a {
  color: #ffffff;
  background-color: #0e9bd6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.title-job-a h3 {
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-left: 20px;
  padding-top: 7px;
  height: 40px;
}

.u-job-list-apply {
  border-bottom: none!important;
  padding: 20px 0 15px 0px!important;
}

.u-btn-list-job {
  font-family: HelveticaNeue;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 21px!important;
  text-align: center;
  color: #ffffff;
  margin-top: 46px
}

.u-job-item {
  border-bottom: 1px dashed #1257bf;
}


/* .u-row-3 div {
  width: 70%;
} */


/* .u-inf-8 h3:last-child {} */